/* JavaFX CSS */
.root {
    -fx-background: rgb(244,124,8);
    -fx-background-color: linear-gradient(to top right,rgba(244,124,8,1), rgba(91,27,145,1));
}

.rootconnexion{
    -fx-background-image: url("images/elements.png");
	-fx-background-repeat: repeat; 
	-fx-background-size: 400 400; 
	-fx-background-position: center center;
}

.connexionlabel-bright{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgba( 234, 250, 229, 1);
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 5px;
    -fx-padding: 8;
}

.connexionlabel-header{
    -fx-font-size: 50pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: rgb(55, 0, 128);
    -fx-font-weight: bold;
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 20px;
    -fx-padding: 15;
}

.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgba(29,29,29,1);
}

.textarea {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
}

.hyperlink {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgb(48, 26, 11);
    -fx-font-weight: bold;
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 5px;
}

.hyperlink:hover {
    -fx-background-color: rgba(91,27,145,1);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 25px;
    -fx-padding: 3;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgba( 234, 250, 229, 1);
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 5px;
    -fx-padding: 8;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: rgb(55, 0, 128);
    -fx-font-weight: bold;
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-background-radius: 20px;
    -fx-padding: 15;
}

.table-view {
    -fx-base: rgba(255,255,255,0.7);
    -fx-control-inner-background: rgba(255,255,255,0.7);
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: rgba(29,29,29,1);
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #8d8d8d;
    -fx-background-radius: 25px;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #e2e2e2;
  -fx-background-radius: 25px;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-insets: 1 1 1 1, 0;
    -fx-border-radius: 25px
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
}

.button:default {
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 25px;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(#d3a9ff,30%);
    -fx-text-fill : #1d1d1d
}

.radio-button {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 5px;
    -fx-padding: 8px
}

.radio-button:selected .radio .dot {
    -fx-background-color: rgba(40,93,30,1);
    -fx-background-insets: 0;
    -fx-opacity: 1;
}

.check-box {
	-fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 5px;
    -fx-padding: 8px	
}

.check-box:selected > .box {
	-fx-background-color: rgba(143,244,100,1);
}

.check-box > .box {
	-fx-background-color: rgba(230,230,230,1);
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
	-fx-background-color: rgba(40,93,30,1);
}